html,body{ 
    width:100vw;
    height:100vh;
    box-sizing: border-box;
    background:#ffffff;
    margin:0;
}


#particles-js{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url('/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    transition: opacity .2s ease-out;
}